{% extends 'base.html' %}

{% block meta %} 
    <link rel="stylesheet" type="text/css" href="/media/css/metrics.css" type="text/css" />
{% endblock meta %}

{% block header_title %}
1984
{% endblock header_title %}

{% block content %} 
<table>

    <tr>
        <th>First visit</th>
        <th>First version</th>
        <th>Signup date</th>
        <th>Signup version</th>
        <th>Username</th>
        <th colspan="5">Acquisition</th>
        <th colspan="3">Activation</th>
        <th colspan="8">7 day activity</th>
        <th>Puzzles complete</th>
        <th>Total AI matches</th>
        <th>Total cards earned</th>
        <th>Total active days</th>
    </tr>

    {% for metrics in all_user_metrics %}
        <tr>
            <td>{{ metrics.first_visit_date|date:"M d" }}</td>
            <td>{{ metrics.first_visit_version }}</td>
            <td>{{ metrics.user.get_profile.signup_date|date:"M d" }}</td>
            <td>{{ metrics.signup_version }}</td>
            <td>{% if metrics.user.email %}
                    <a href="mailto:{{metrics.user.email}}">{{ metrics.user.username }}</a>
                {% else %}
                    {{ metrics.user.username }}
                {% endif %} 
            </td>
            <td> {{ metrics.acquisition_funnel_percent }}% </td>

            {% for i in acquisition_range %}
                {% if metrics.acquisition_funnel_step > i %}
                <td class="funnel_step_complete">&nbsp;</td>
                {% else %}
                <td class="funnel_step_incomplete">&nbsp;</td>
                {% endif %} 
            {% endfor %}

            <td>{{ metrics.activation_funnel_percent }}%</td>

            {% for i in activation_range %}
                {% if metrics.activation_funnel_step > i %}
                <td class="funnel_step_complete">&nbsp;</td>
                {% else %}
                <td class="funnel_step_incomplete">&nbsp;</td>
                {% endif %} 
            {% endfor %}

            <td>{{ metrics.seven_day_activity_percent }}%</td>

            {% for day in metrics.seven_day_activity_array %}
                {% if day %}
                <td class="funnel_step_complete">&nbsp;</td>
                {% else %}
                <td class="funnel_step_incomplete">&nbsp;</td>
                {% endif %} 
            {% endfor %}

            <td>{{ metrics.unique_puzzles_won }}</td>
            <td>{{ metrics.total_ai_matches_begun }}</td>
            <td>{{ metrics.total_cards_earned }}</td>
            <td>{{ metrics.login_dates|length }}</td>
        </tr>
    {% endfor %}
</table>

{% endblock content %}
