#my_deck {
    //margin-top:50px;
    margin-top:-20px;
    margin-left:-51px;

    //position:fixed;
    float:left;
    width:300px;
    border:1px solid #ccc;

    background:#ffffff;

    -webkit-border-bottom-right-radius: 30px;
    -moz-border-radius-bottomright: 30px;
    -webkit-border-top-right-radius: 30px;
    -moz-border-radius-topright: 30px;
}

#deck .card, #library .card {
    margin:40px 20px;
    left:0;
}

#my_deck .ribbon {
    left:-13px;
}
#my_deck .triangle-ribbon {
    left:-26px;
    margin-bottom:-20px;
}

.library_group {
    //margin-left:320px; 
    margin-left:20px;
    float:left;
}


