#game_frame {
    position:relative;
    width:960px;
    height:640px;
}

.game_panel, .bottom_panel, .middle_panel, .right_panel, .bottom_right_panel, .tooltip_panel {
    position:absolute; 
}

.game_panel, .bottom_panel, .middle_panel {
    width:600px;
}

.game_panel {
    height:500px;
}

.bottom_panel {
    height:120px;
    top:520px;
}

.middle_panel {
    height:20px;
    top:500px;
}

.right_panel {
    width:360px;
    left:600px;
    height:640px;
}

.tooltip_panel {
    width:340px;
    top:10px;
    left:610px;
    height:480px;
}

.bottom_right_panel {
    left:600px;
    top:500px;
    width:360px;
    height:140px;
}

.middle_panel .friendly {
    color:#fff;
}
.middle_panel .enemy {
    color:#f00;
}


.game_panel {
    background-color:#eee;
}
.bottom_panel {
    background-color:#ddd;
}

.middle_panel {
    background-color:#ccc;
}

.right_panel {
    background-color:#bbb;
}
