#friendly_hand {
    float:left;
    border:1px solid gray;
    padding:10px;
}

.tech {
    float:left;
    border:1px solid gray;
    padding:10px;
}

.tech h1 {
    font-size:60px;
    margin:0;
}

.board {
    float:left;
    width:500px;
    height:300px;
    position:relative;
}
.board.friendly {
    background: #ccc url('../board_friendly.png');
}
.board.ai {
    background: #ccc url('../board_ai.png');
}

.card {
}
.card:hover {
    background-color:yellow;
}
.card.selected {
    background-color:orange;
}

.unit_piece {
    color:#000;
}

.node {
    width:20px;
    height:20px;
    margin:40px;
    color:#fff;
    background-color:#000;
    position:absolute;
    border:1px solid white;
}
.node:hover {
    background-color:#124;
}

.targettable {
   background-color:#0f0; 
}

.node.unit {
    background-color:#99f;
}

#phases {
    float:left;
}
#phases li {
    float:left;
    font-weight: bold;
    text-decoration: none;
    display: block;
    padding: 8px 12px;
    font-size: 113%;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;

    margin-bottom:10px;
}
#phases li.active {
    background-color:#ddd;
    border:1px solid #ccc;
}
