#game_frame {
    position:relative;
    width:960px;
    height:640px;
    overflow:hidden;
}

#game_frame .bg {
    position:absolute;
}

.game_panel, .bottom_panel, .middle_panel, .right_panel, .bottom_right_panel, .tooltip_panel {
    position:absolute; 
}

.meta_panel {
    position:absolute;
    width:360px; 
    top:4px;
    left:608px;
}

.game_panel, .bottom_panel, .middle_panel {
    width:600px;
}

.game_panel {
    height:500px;
}

.bottom_panel {
    height:120px;
    top:520px;
}

.middle_panel {
    height:20px;
    top:500px;
}

.right_panel {
    width:360px;
    left:608px;
    height:640px;
}

.tooltip_panel {
    width:340px;
    top:10px;
    left:610px;
    height:480px;
}

.bottom_right_panel {
    left:608px;
    top:500px;
    width:360px;
    height:140px;
}

.middle_panel .friendly {
    color:#fff;
}
.middle_panel .enemy {
    color:#f00;
}


.game_panel {
}
.bottom_panel {
}

.middle_panel {
}

.right_panel {
}


.board_area .friendly, .board_area .ai {
    position:absolute; 
}
.board.ai {
    top:0px;
    left:300px;
}
.board.friendly {
    top:0px;
}

.board_img {
    position:absolute;
    left:0;
    top:-150px;
}

.attacking_to, .attacking_from {
    position:absolute;
    background: url(attack-forward.png); 
    width:100px;
    height:4px;
    left:15px;
    top:13px;
    z-index:1;
}
.ai .attacking_from, .friendly .attacking_to {
    left:-84px;
}

.ai .r2.x-2 .attacking_to,
.ai .r1.x-1 .attacking_to
{
    /* up and to the right */
    background: url(attack-nw-se.png); 
    width:100px; 
    height:100px;
    left:12px; 
} 
.ai .r2.x2 .attacking_to,
.ai .r1.x1 .attacking_to
{
    /* up and to the left */
    background: url(attack-ne-sw.png); 
    width:100px; 
    height:100px;
    left:-84px;
    top:-84px;
}
.friendly .r2.x2 .attacking_to,
.friendly .r1.x1 .attacking_to
{
    /* up and to the right */
    background: url(attack-nw-se.png); 
    width:100px; 
    height:100px;
    left:-84px;
    top:-84px;
} 
.friendly .r2.x-2 .attacking_to,
.friendly .r1.x-1 .attacking_to
{
    /* up and to the left */
    background: url(attack-ne-sw.png); 
    width:100px; 
    height:100px;
    left:15px;
} 

.tech {
    position:relative;
    left:400px;
    height:100px;
    width:100px;
}
#ai_tech {
    top:0;
}
#friendly_tech {
    top:160px;
}

#lifebars {
    position:absolute;
    top:0;
    left:0;
    width:608px;
}

.lifebar_container {
    position:absolute;
    overflow:hidden;
    top:4px;
    width:207px;
    height:13px;
}

#left_icons {
    position:absolute;
    left:60px;
    top:24px;
}
#right_icons {
    position:absolute;
    left:340px;
    top:24px;
}
#right_icons li {
    float:right;
}

#friendly_lifebar_container {
    left:60px;
}

#ai_lifebar_container {
    right:60px;
}

.lifebar {
    opacity:0.7;
    height:100%;
    position:absolute;
}

#friendly_lifebar_container .red,
#ai_lifebar_container .green {
    left:0;
}

#friendly_lifebar_container .green,
#ai_lifebar_container .red {
    right:0;
}

.lifebar.green {
    background-color:#00ff00;
    width:100%;
}

.lifebar.red {
    background-color:#ff0000; 
    width:0;
}


.turn_indicator {
    position:absolute;
}


img.avatar {
    width:52px;
    height:52px;
    position:absolute;
    top:4px;
}
img.avatar.left {
    left:4px; 
}
img.avatar.right {
    right:4px;
}

ul.icons {
    list-style:none;
    margin:0;
    padding:0;
}
ul.icons li {
    padding-left:20px;
    background-repeat:no-repeat;
    float:left;
    margin:4px 10px 4px 4px;
}
ul.icons a, ul.icons a:visited {
    color:#000;
    text-decoration:none;
}
ul.icons a:hover {
    color:#000;
    text-decoration:underline;
}

#lifebars .icons li {
    width:42px;
}

li.hand {
    background-image: url('/media/icons/hand.png'); 
}
li.library {
    background-image: url('/media/icons/library.png'); 
}
li.life {
    background-image: url('/media/icons/life.png');
}
li.tech_level {
    background-image: url('/media/icons/tech.png'); 
}
li.resources {
    background-image: url('/media/icons/resources.png'); 
}
li.surrender {
    background-image: url('/media/icons/surrender.png');
}
li.settings {
    background-image: url('/media/icons/settings.png'); 
}
li.help {
    background-image: url('/media/icons/help.png'); 
}
