.debug {
    display:none;
}

#slider_alert {
    z-index:2000;
    background: url(black-50.png); 
    position:absolute;
    left:0;
    top:60px;
    right:0;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
}
#slider_alert .message_container {
    width:400px;
    margin-left:200px;
    color:#fff;
    padding:20px 0;
}
#slider_alert .message_container h4 {
    margin-bottom: 10px;
}
#slider_alert .okay {
    margin:0;
    padding-left:100px;
    padding-right:100px;
    margin-left:80px;
}

h1.feedback {
    position:absolute;
    font-size:48px;
    top:-30px;
    z-index:1000;
    width:300px;
    text-align:left !important;
}
h1.red {
    color:#f00 !important;
}
h1.green {
    color:#0f0 !important;
} 

.gameplay_container {
}
.game_container {
    float:left; 
    border:1px solid gray;
    position: relative;
    width:800px;
    height:600px;
    background: #ccc url('../boards/board-2.jpg');
}

#friendly_hand {
    position:absolute;
    top:532px;
    left:4px;
    height:104px;
}
#friendly_hand .ribbon {
    left:-13px;
    margin-top:-50px;
}
#friendly_hand .triangle-ribbon {
    left:-26px;
    margin-top:0;
}

#game_controls {
    position:absolute;
    bottom:10px;
    right:24px; 
}
#game_controls h3 {
    margin:0 0 10px 24px;
    font-size:12px;
}
#game_controls .link_button {
    background:none;
    border:none; 
    text-shadow:none;
    margin:0 0 0 10px;
    color:#191919 !important;
}
#game_controls .button:hover {
    //background:url(grad-blue.gif) repeat-x center top #166890;
    color:#fff !important;
}

.left_column, .right_column {
    float:left;
    width:130px; 
    padding-left:10px;
    height:600px; 
}
.ribbon_gui {
    position:relative;
    top:190px;
}
.ribbon_gui .ribbon {
    position:relative;
    left:0;
    top:60px;
    width:50px;
} 
div.ribbon triangle-ribbon, .ribbon_gui .triangle-ribbon {
    left: -12px;
    top:27px;
}
.ribbon_gui .top, .ribbon_gui .bottom{
    position:absolute;
    width:82px;
    left:14px;
    height:80px;
    border:1px solid black;
    background: #fff; 
}
.ribbon_gui .bottom {
    top:140px;
}

.right_column .ribbon_gui h2.ribbon {
    border-radius: 3px 0px 3px 3px !important;
    -moz-border-radius: 3px 0px 3px 3px !important;
    -webkit-border-radius: 3px 0px 3px 3px !important; 
}

.right_column .ribbon_gui .triangle-ribbon {
    top: -35px !important;
    left:98px !important;
    border-color: transparent transparent transparent #0E425C !important;
}

.board_area {
    float:left;
    width:500px;
    height:600px; 
    position:relative;
}
.board {
    float:left;
    width:500px;
    height:300px;
    position:relative;
}
.board.friendly {
}
.board.ai {
}

.card {
    float:left;
    margin:2px; 
}
.card .card_name {
    display:block !important;
    position:absolute;
    color: #000;
    font-weight:bold; 
    font-size:10px;
    top:84px;
}
.card:hover {
    background-color:yellow;
}
.card.selected {
    background-color:orange;
}

.unit_piece, .rubble {
    background-color:#000; 
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;

    color:#fff;
    font-weight:bold;

    width:60px;
    height:60px;

    position:relative;
}
.rubble {
    left:-15px;
    top:-15px;
    background-color:#fff; 
    border:1px solid black;
} 

.rubble.r_1 img, .unit_piece.attack_1 img {
    //height:100%; 
}
.rubble.r_2 img, .unit_piece.attack_2 img {
    //height:50% !important;
}
.rubble.r_3 img, .unit_piece.attack_3 img {
    //height:30%; 
}
.rubble.r_4 img, .unit_piece.attack_4 img {
    //height:25%; 
}

.cropper {
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    overflow:hidden;
    width:100%;
    height:100%;
}

.rubble > img {
    margin-left:auto;
    margin-right:auto;
    margin-top:-20px;
    position:absolute;
}
.unit_piece .attack {
    position:absolute;
    bottom:4px;
    left:10px;
}
.unit_piece .defense {
    position:absolute;
    left:0;
    width:60px;
    top:60px;
}
.unit_piece .defense .defense_point,
.unit_piece .defense .damage_point {
    width:12px;
    height:12px;
    background-color:#0f0;
    float:left;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    margin:0 1px;
    border:1px solid black;
}
.unit_piece .defense .damage_point {
    background-color:#f00;
}
.unit_piece .unit_attack {
    position:absolute; 
    left:-10px;
    top:-4px;
    width:16px;
}
.unit_piece .unit_attack img {
    width:16px;
    margin:0;
    padding:0;
}
.unit_piece .card_name {
    display:none;
}

.node, .attack_path_container {
    width:30px;
    height:30px;
    margin:35px;

    position:absolute;
    z-index:2;

    /* 
    background-color:#fff;
    border:0px solid black;
    */

    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
}
.node:hover {
    //background-color:#124;
}

.hostile_targetting { 
    background-color:#f00 !important;
}
.targettable, .board.friendly .targettable .unit_piece {
   background-color:#0f0 !important;
}
.unit.targettable, .board.ai .targettable .unit_piece {
    background-color:#f00 !important;
}
.targettable.hovered {
    background-color:#9f9 !important;
}

#phases {
    position:absolute;
    z-index:1;
    width:100%;
}

#phases li {
    float:left;
    font-weight: bold;
    text-decoration: none;
    display: block;
    padding: 8px 12px;
    font-size: 113%;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;

    margin-bottom:10px;
}
#phases li.active {
    background-color:#ddd;
    border:1px solid #ccc;
}

.clear {
    height:0px;
    width:100%;
    clear:both;
    float:left;
}


