#slider_alert {
    z-index:2000;
    background: url(black-50.png); 
    position:absolute;
    left:0;
    top:60px;
    right:0;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
}
#slider_alert .message_container {
    width:400px;
    margin-left:200px;
    color:#fff;
    padding:20px 0;
}
#slider_alert .message_container h4 {
    margin-bottom: 10px;
}
#slider_alert .okay {
    margin:0;
    padding-left:100px;
    padding-right:100px;
    margin-left:80px;
}

h1.feedback {
    position:absolute;
    font-size:48px;
    top:-30px;
    z-index:1000;
    width:300px;
    text-align:left !important;
}
h1.red {
    color:#f00 !important;
}
h1.green {
    color:#0f0 !important;
} 

.cast_info {
    border: 3px solid #191919;
    color:#fff;
    position:absolute;

    width:250px;
    height:50px;

    left:-270px;
    top:0;

    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;

    background: #191919 url(/media/diagonals.gif);
    z-index:1000;
}
.cast_info .tick {
    position:absolute;
    left:253px;
    top:13px;

    border-style: solid;
    border-width: 13px;
    height: 0;
    position: relative;
    width: 0;
    border-color: transparent transparent transparent #191919; 
}

.cast_info h1.msg {
    position:absolute;
    //color:#fff !important;
    top:0;
    padding:10px 20px;
    font-size:24px;
}

.life, .tech {

}
.life h1, .tech h1 {
    font-size:48px;
    margin:13px;
    text-align:right;
}
.gameplay_container {
}
.game_container {
    float:left; 
    border:1px solid gray;
    background:#ccc;
    position: relative;
    width:800px;
    height:600px;
    background: #ccc url('../boards/board-2.jpg');
}

#friendly_hand {
    border:1px solid black;
    position:absolute;
    bottom:4px;
    left:4px;
    background:#fff;
    z-index:10;

    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
}
#friendly_hand .ribbon {
    left:-13px;
    margin-top:-50px;
}
#friendly_hand .triangle-ribbon {
    left:-26px;
    margin-top:0;
}

#game_controls {
    position:absolute;
    bottom:10px;
    right:24px; 
}
#game_controls h3 {
    margin:0 0 10px 24px;
    font-size:12px;
}
#game_controls .button {
    background:none;
    border:none; 
    text-shadow:none;
    margin:0 0 0 10px;
    color:#191919 !important;
}
#game_controls .button:hover {
    //background:url(grad-blue.gif) repeat-x center top #166890;
    color:#fff !important;
}

.left_column, .right_column {
    float:left;
    width:130px; 
    padding-left:10px;
    height:600px; 
}
.ribbon_gui {
    position:relative;
    top:190px;
}
.ribbon_gui .ribbon {
    position:relative;
    left:0;
    top:60px;
    width:50px;
} 
div.ribbon triangle-ribbon, .ribbon_gui .triangle-ribbon {
    left: -12px;
    top:27px;
}
.ribbon_gui .top, .ribbon_gui .bottom{
    position:absolute;
    width:82px;
    left:14px;
    height:80px;
    border:1px solid black;
    background: #fff; 
}
.ribbon_gui .bottom {
    top:140px;
}

.right_column .ribbon_gui h2.ribbon {
    border-radius: 3px 0px 3px 3px !important;
    -moz-border-radius: 3px 0px 3px 3px !important;
    -webkit-border-radius: 3px 0px 3px 3px !important; 
}
.right_column .ribbon_gui .triangle-ribbon {
    top: -35px !important;
    left:98px !important;
    border-color: transparent transparent transparent #0E425C !important;
}
.board_area {
    margin:0 10px;
    float:left;
    width:500px;
    height:600px; 
    position:relative;
}
.board {
    float:left;
    width:500px;
    height:300px;
    position:relative;
}
.board.friendly {
}
.board.ai {
}

.card {
    float:left;
    margin:2px; 
    position:absolute;
    left:-20px;
    //top:-16px;
}
.card .card_name {
    display:block !important;
    position:absolute;
    color: #000;
    font-weight:bold; 
    font-size:10px;
    top:84px;
}
.card:hover {
    background-color:yellow;
}
.card.selected {
    background-color:orange;
}

.unit_piece, .rubble {
    background-color:#000; 
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;

    color:#fff;
    font-weight:bold;

    width:60px;
    height:60px;

    position:relative;
}
.rubble {
    left:-15px;
    top:-15px;
    background-color:#fff; 
    border:1px solid black;
} 

.rubble.r_1 img, .unit_piece.attack_1 img {
    //height:100%; 
}
.rubble.r_2 img, .unit_piece.attack_2 img {
    //height:50% !important;
}
.rubble.r_3 img, .unit_piece.attack_3 img {
    //height:30%; 
}
.rubble.r_4 img, .unit_piece.attack_4 img {
    //height:25%; 
}

.unit_piece > img, .rubble > img {
    margin-left:auto;
    margin-right:auto;
    margin-top:-20px;
    position:absolute;
}
.unit_piece .attack {
    position:absolute;
    bottom:4px;
    left:10px;
}
.unit_piece .defense {
    position:absolute;
    left:0;
    width:60px;
    top:60px;
}
.unit_piece .defense .defense_point,
.unit_piece .defense .damage_point {
    width:12px;
    height:12px;
    background-color:#0f0;
    float:left;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    margin:0 1px;
    border:1px solid black;
}
.unit_piece .defense .damage_point {
    background-color:#f00;
}
.unit_piece .unit_attack {
    position:absolute; 
    left:-10px;
    top:-4px;
    width:16px;
}
.unit_piece .unit_attack img {
    width:16px;
    margin:0;
    padding:0;
}
.unit_piece .card_name {
    display:none;
}

.node, .attack_path_container {
    width:30px;
    height:30px;
    margin:35px;

    position:absolute;
    z-index:2;

    background-color:#fff;
    border:1px solid black;

    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
}
.node:hover {
    //background-color:#124;
}

.hostile_targetting { 
    background-color:#f00 !important;
}
.targettable, .board.friendly .targettable .unit_piece {
   background-color:#0f0 !important;
}
.unit.targettable, .board.ai .targettable .unit_piece {
    background-color:#f00 !important;
}
.targettable.hovered {
    background-color:#9f9 !important;
}

#phases {
    position:absolute;
    z-index:1;
    width:100%;
}

#phases li {
    float:left;
    font-weight: bold;
    text-decoration: none;
    display: block;
    padding: 8px 12px;
    font-size: 113%;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;

    margin-bottom:10px;
}
#phases li.active {
    background-color:#ddd;
    border:1px solid #ccc;
}

.clear {
    height:0px;
    width:100%;
    clear:both;
    float:left;
}


.attacking_to {
    position:absolute;
    background: url(attack-forward.png); 
    width:20px;
    height:100px;
    left:4px;
    z-index:1;
}
.friendly .attacking_to {
    top:16px;
}
.ai .attacking_to {
    top:-84px;
}

.ai .r2.x-2 .attacking_to,
.ai .r1.x-1 .attacking_to
{
    /* up and to the right */
    background: url(attack-ne-sw.png); 
    width:100px; 
    left:12px; 
} 
.ai .r2.x2 .attacking_to,
.ai .r1.x1 .attacking_to
{
    /* up and to the left */
    background: url(attack-nw-se.png); 
    width:100px; 
    left:-84px;
}
.friendly .r2.x2 .attacking_to,
.friendly .r1.x1 .attacking_to
{
    /* up and to the right */
    background: url(attack-ne-sw.png); 
    width:100px; 
    left:-84;
} 
.friendly .r2.x-2 .attacking_to,
.friendly .r1.x-1 .attacking_to
{
    /* up and to the left */
    background: url(attack-nw-se.png); 
    width:100px; 
    left:12px;
}

.attacking_from {
    z-index:1;
    position:absolute;
    background: url(attack-forward.png); 
    width:20px;
    height:100px;
    left:4px;
}
.friendly .attacking_from {
    top:-84px;
}
.ai .attacking_from {
    top:16px;
}

