.puzzle_thumb {
    width:80px;
    height:80px;
    margin:10px;
    padding:5px;
    border: 3px solid gray;
    background-color: #ccc;

    border-radius: 9px 9px 9px 9px !important;
    -moz-border-radius: 9px 9px 9px 9px !important;
    -webkit-border-radius: 9px 9px 9px 9px !important; 

    position:relative; 
    float:left;
}

.puzzle_link {
    margin:10px;
    border:none; 
    float:left;
}
.puzzle_link .puzzle_thumb {
    margin:0;
}

.puzzle_thumb.locked {
    background:url(grad-grey-90.gif) repeat-x center top #166890;
}
.puzzle_thumb.current {
    background:url(grad-yellow-90.gif) repeat-x center top #166890; 
    cursor: pointer;
}
.puzzle_thumb.beaten {
    background:url(grad-green-90.gif) repeat-x center top #166890; 
    cursor: pointer;
}
.puzzle_thumb.current:hover {
    background:url(grad-yellow-90-hover.gif) repeat-x center top #166890; 
}
.puzzle_thumb.beaten:hover {
    background:url(grad-green-90-hover.gif) repeat-x center top #166890; 
}

.puzzle_thumb p {
    margin:0;
    padding:0;
    text-align:center;
    vertical-align:middle;
    font-size:48px;
    color:#fff; 
}

.puzzle_thumb span {
    width:90px;
    height:90px;
    margin-left:-5px;
    margin-top:-5px;
}

.lock_icon {
    position:absolute;
    margin-top:20px;
    margin-left:24px;
}

.results_popup {
    color:#000;
}

.results_popup .continue {
    margin-top:30px;
    float:right;
}
    
