{% extends 'base.html' %}

{% block meta %}
<link rel="stylesheet" type="text/css" href="/media/css/menus.css" type="text/css" />
{% endblock meta %}

{% block header_title %}
Puzzles
{% endblock %}

{% block content %}

    {% for puzzle in puzzles %}

    <div class="puzzle_thumb {{ puzzle.player_state }}" {% if puzzle.player_state != "locked" %}onclick="window.location.href='/puzzle/?p={{puzzle.id}}';"{% endif %}>
                {% if puzzle.player_state == "locked" %}
                    <img class="lock_icon" src="/media/icons/locked.png">
                {% else %}
                    <p>
                    {{ forloop.counter }}
                    </p>
                {% endif %}
                
                {% if request.user.is_staff %}
                    <a href="/deck/?p={{ puzzle.id }}">Edit deck</a>
                    <a href="/edit_puzzle/?p={{ puzzle.id }}/">Edit puzzle</a> 
                {% endif %}

            </div> 

    {% endfor %}    

    <script>
        $(function() {
            banner_alert('info', 'Welcome to puzzle mode!', "Normally you'd earn new units by beating puzzles, but that doesn't exist yet, so just enjoy [hopefully].");

            $(".puzzle_thumb.current, .puzzle_thumb.beaten").mouseenter(function(e) { 
                $(this).effect("bounce", { times: 3, distance: 15}, 200); 
            });
        });
    </script>


{% endblock %}
