<div id='game_frame'>
    
    <img class='bg' src='/media/game_gui/bg.jpg' />

    <div class='game_panel'>
        {% include 'board.html' %}
    </div>

    <div id="friendly_hand" class="bottom_panel">
    </div>

    <div id="messages" class="middle_panel">
    </div>

    <div id="tooltip" class="tooltip_panel hidden">
        <img />
    </div>

    <div id="info" class="right_panel"> 
    </div>

    <div id="controls" class="bottom_right_panel"> 
        <a id="pass_button" class="button blue" href="javascript:void(0);" onclick="pass_turn()">Attack & end turn</a> 
    </div>


    <!-- game control icons -->
    <div class="meta_panel">
        <ul class='icons'>
            <a href=""><li class="surrender">Surrender</li></a>
            <a href=""><li class="settings">Settings</li></a>
                <a href=""><li class="help">Help</li></a>
        </ul> 
    </div>

    <!-- modal popup screens --> 
    <div id="win_screen" class="modal hidden">
        {% include 'menus/win.html' %} 
    </div>

    <div id="lose_screen" class="modal hidden">
        {% include 'menus/lose.html' %} 
    </div> 
</div>
