<div id='game_frame'>
    
    <div class='game_panel'>
        {% include 'board.html' %}
    </div>

    <div id="hand" class="bottom_panel">
    </div>

    <div id="messages" class="middle_panel">
    </div>

    <div id="tooltip" class="tooltip_panel hidden">
    </div>

    <div id="info" class="right_panel"> 
    </div>

    <div id="controls" class="bottom_right_panel"> 
        <h1>0:30</h1>
        <a id="pass_button" class="button blue" href="javascript:void(0);" onclick="pass_turn()">Attack & end turn</a> 
    </div>

</div>
