<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

    <head>
        <meta name="google-site-verification" content="lw0wquCMz5y0L1HlP2ccT7QVFP9C5K3NBU0i_OiJLEs" />

        <title>Diamond - a turn-based strategy board game</title>

        <script type="text/javascript" src="/media/js/jquery.min.js"></script>
        <script type="text/javascript" src="/media/js/jqModal.js"></script>
        <script type="text/javascript" src="/media/js/jquery-ui.min.js"></script>
        <script type="text/javascript" src="/media/js/showdown.js"></script>
        <script type="text/javascript" src="/media/js/jquery-ui-1.8.14.custom.min.js"></script>

        <link rel="stylesheet" type="text/css" href="/media/css/popups.css" type="text/css" />
        <link rel="stylesheet" type="text/css" href="/media/css/style.css" type="text/css" />
        <link rel="stylesheet" type="text/css" href="/media/css/menus.css" type="text/css" />
        <link rel="stylesheet" type="text/css" href="/media/css/smoothness/jquery-ui-1.8.14.custom.css" type="text/css" />

        {% block meta %}
        {% endblock meta %}

        {% block head %}
        {% endblock head %}

        <style> 
            {% block style %}
            {% endblock %}
        </style>

        <script type="text/javascript" language="javascript">
            $( function () {

                if ($.browser == "msie") { 
                    window.location.href = "/no_ie/"; 
                } 

                {% block ready_script %}
                {% endblock %}

                $('#feedbackDialog').jqm();

                $('#feedback_button').click(function() {
                    //popup('/ajax/feedback_form.html');
                    $('#feedback_working').hide(); //not loading
                    $('#feedback_submit').show();  //can submit again

                    $("#feedbackDialog").load('/ajax/feedback_form.html');
                    $('#feedbackDialog').jqmShow();
                });

                init_tooltips("body");
            });

            function init_tooltips(selector) {
                $(selector).find("*").each( function() { 
                        if ($(this).attr("title")) {
                            $(this).unbind("mouseenter");
                            $(this).mouseenter(function(e) {
                                $("#tooltip .text").html($(this).attr("title"));
                                $(this).attr("title", "");
                                $("#tooltip").show();
                                $("#tooltip").position({
                                    my: "left top",
                                    at: "center bottom",
                                    of: $(this),
                                    offset: "-20 25",
                                }); 
                                $("#tooltip").hide();
                                $("#tooltip").fadeIn(); 
                            }); 
                            $(this).unbind("mouseleave");
                            $(this).mouseleave(function(e) {
                                $("#tooltip").hide();
                                $(this).attr("title", $("#tooltip .text").html());
                            });
                        }
                });

            }

            function banner_alert(type, title, message) {
                $(".message h3").text(title);
                $(".message p").html(message);
                $(".message").removeClass("info").removeClass("alert").removeClass("warning").removeClass("success").addClass(type).slideDown(); 
            }

            /** buggy
              *
            function confirm(button_id, to_call) {
                var target = $("#" + button_id);
                offset = target.offset();

                $("#button_confirm").offset({ top: 0, left: 0 } );
                //$("#button_confirm").offset({ top: offset.top, left: offset.left } );
                $("#button_confirm").slideDown();

                $("#button_confirm .confirm").unbind();
                $("#button_confirm .confirm").click(function(e) {
                    to_call();
                    $("#button_confirm").slideUp();
                }); 
            }
            *
            **/

            function popup(url) {

                $("#dialog").jqm({ajax:url, ajaxText: 'Loading' });
                $("#dialog").jqmShow();

                setTimeout("window_resize(dialog)", 1000);
            }

            function window_resize(event) {
                if ( $("#dialog").css("display") != "none" ) {
                    var height = $("#dialog").height() - 70;
                    $("#dialog .popup_content").css("height", height + "px");
                }
            }

            function sendFeedback() {

                $.post('/util/send_feedback/',
                    $('#feedback_form').serialize(),
                    function(data) {
                        //$('#feedback_working').hide(); //not loading
                        $('#feedback_submit').show();  //can submit again
                        //$('#feedbackDialog').jqmHide(); //close the popup
                    });


                $('#feedbackDialog').jqmHide(); //close the popup

                return false; //cancel form submission
            }

            {% block script %}
            {% endblock %}
        </script>

        <script type="text/javascript">
            // google analytics 
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-15909714-3']);
            _gaq.push(['_trackPageview']);

            (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();

        </script>

    </head>

    <body>

        <div class="jqmWindow hidden" id="dialog" style="overflow:auto;">
            {% block jqmWindow %}
            {% endblock %}
        </div>

        <div class="jqmWindow hidden" id="feedbackDialog">
        </div>

	</div>

        <div id="body">

            <div class="account">
                {% if request.user.is_authenticated %}
                <a href="/accounts/logout/">Log out</a>
                {% else %}
                <a href="/accounts/login/">Log in</a> or <a href="/accounts/register/">Register</a>
                {% endif %} 
            </div>

            {% block header %}

                <div class="header">

                    <h1><a href="/">{% block header_title %}block header_title{% endblock %}</a></h1>

                    <ul id="nav">
                        <li>
                            <a href="/puzzles/">Puzzles!</a>
                        </li>
                        <li>
                            <a href="/play/">Play vs. the AI</a>
                            <ul>
                                <li><a href="/play/">Play a battle</a></li>
                                <li><a href="/deck/">Edit your deck</a></li>
                            </ul>
                        </li>
                        <li>
                        </li>
                    </ul>
                </div>

            {% endblock header %}

            <div class="border rounded fl" style="position:relative;padding:40px;width:898px;background-color:#fff;">

                <div class="hidden message">
                    <span style="font-size:12px;;position:absolute;right:8px;top:4px;"><a href="javascript:void(0);" style="color:#fff;text-decoration:none;" onclick="$('.message').slideUp();">[X] Close</a></span>
                <h3>FYI, something just happened!</h3>
                <p>This is just an info notification message.</p>
                </div>

                {% block content %}
                {% endblock %}
            </div>

            <div class="footer small">

                {% block footer %}
                {% endblock %}

                <p class="fl">
                    <a class="home" href="/about/" style="margin-right:30px;">About</a>
                    <a class="home" href="/terms/" style="margin-right:30px;">Legal &amp; terms</a>
                    <a class="home" href="/contact/" style="margin-right:30px;">Contact &amp; feedback</a>
                </p>
            </div>

        </div>

        <div id="button_confirm" class="hidden">
            <div class="tick"></div>
            <h1 class="msg">X cast Y!</h1>
            <a class="button" onclick="$('#button_confirm').hide();">Cancel</a>
            <a class="button yellow confirm">Proceed</a> 
        </div>

        <div id="tooltip" class="hidden">
            <span class='text'></span>
            <div class="tick">
                <div class="tick_inner"></div>
            </div>
        </div>


        <!--
		<div id="feedback_button" style="float:right;position:fixed;right:0px;top:30%;">
			<img src='/media/feedback-tab.png' style="cursor:pointer;" />
		</div>
        -->

    </body>

</html>
