
<div class="board_area">

    <img src="/media/game_gui/left_turn.png" id="{{player_name}}_turn_indicator" class="hidden turn_indicator" />
    n<img src="/media/game_gui/right_turn.png" id="{{opponent_name}}_turn_indicator" class="hidden turn_indicator" />

    {% include 'game_gui/lifebars.html' %}
    
    <div class="board ai">
        {% for node in board %}

            <div class="attack_path_container r{{node.row}} x{{node.x}}" style="left:{{node.board_x_ai}}px;top:{{node.board_y_ai}}px;">
                <div class="attacking_from hidden">&nbsp;</div>
                <div class="attacking_to hidden">&nbsp;</div>
            </div>
        {% endfor %}
    </div>

    <div class="board friendly">
        {% for node in board %}

                <div class="attack_path_container r{{node.row}} x{{node.x}}" style="left:{{node.board_x_friendly}}px;top:{{node.board_y_friendly}}px;">
                    <div class="attacking_from hidden">&nbsp;</div>
                    <div class="attacking_to hidden">&nbsp;</div>
                </div>

        {% endfor %}
    </div>


    <div class="ai board">

        {% block ai_nodes %}

            {% for node in board %} 

            <div class="node empty r{{node.row}} x{{node.x}}" name="{{node.row}}_{{node.x}}" style="left:{{node.board_x_ai}}px;top:{{node.board_y_ai}}px;">
            </div>

            {% endfor %}

        {% endblock ai_nodes %}

        <div id="ai_tech" title="The enemy's tech level allows tem to use more powerful cards." class="{{ opponent_name }}_tech top ai tech" name="tech">
            <h1><span class="remaining">1</span>/<span class="total">1</span></h1>
        </div> 

    </div>

    <div class="friendly board">

        {% block friendly_nodes %}

            {% for node in board %} 

                <div class="node empty r{{node.row}} x{{node.x}}" name="{{node.row}}_{{node.x}}" style="left:{{node.board_x_friendly}}px;top:{{node.board_y_friendly}}px;">
                </div>

            {% endfor %}

        {% endblock friendly_nodes %}

        <div id="friendly_tech" title="Increase your tech by dragging a card here during your turn. Certain cards need higher tech." class="{{ player_name}}_tech bottom tech" name="tech">
            <h1><span class="remaining">1</span>/<span class="total">1</span></h1>
        </div>
    </div>



    <script>
        $(function() {
            var num = Math.floor(Math.random() * 8);
            $(".board_img").attr("src", "/media/boards/board-" + num + ".jpg");
        });
    </script>

</div>
