
<div class="board_area">

    <div class="ai board">

        {% block ai_nodes %}

            {% for node in board %}

            <div class="node empty r{{node.row}} x{{node.x}}" id="ai_node_{{node.pk}}" name="{{ node.pk }}" style="left:{{node.board_x_ai}}px;top:{{node.board_y_ai}}px;">

                    <div class="attacking_from hidden"></div>
                    <div class="attacking_to hidden"></div>
                </div>

            {% endfor %}

        {% endblock ai_nodes %}

    </div>

    <div class="friendly board">

        {% block friendly_nodes %}

            {% for node in board %}

                <div class="node empty r{{node.row}} x{{node.x}}" name="{{ node.pk }}" style="left:{{node.board_x_friendly}}px;top:{{node.board_y_friendly}}px;">
                    <div class="attacking_from hidden">&nbsp;</div>
                    <div class="attacking_to hidden">&nbsp;</div>
                </div>

            {% endfor %}

        {% endblock friendly_nodes %}
    </div>

</div>
