{% extends 'base.html' %}

{% block meta %}

    <link rel="stylesheet" type="text/css" href="/media/css/edit_deck.css" type="text/css" /> 

    <link rel="stylesheet" type="text/css" href="/media/css/game.css" type="text/css" />
    <link rel="stylesheet" type="text/css" href="/media/css/game_master.css" type="text/css" />

    <script type="text/javascript" src="/media/js/view.js"></script>

{% endblock meta %}

{% block header_title %}
Deck editor
{% endblock %}

{% block content %} 

    <div id="my_deck">

        <h2 class="ribbon">Your Army</h2> 
        <div class="triangle-ribbon"></div>

        <div class="spacer">&nbsp;</div>

        <div id="deck" class="card_list"> 
        </div>
    </div>

    <div class="library_group">
        {% include 'library_categories.html' with on_library_card_click="on_library_card_click" %}
    </div>

    <h3><span id="num_remaining"></span> spots left in deck</h3>

    <script>

        var unique_i = {{ deck.all_cards|length }};

        $(function() {

            banner_alert('info', 'Welcome to the deck editor', "During the intial beta, you're free to use any cards you please. Try out some variations against the ai. Remember to save the deck when you're done editing!");

            init_deck();

        });

        function init_deck() {

            var json;
            var body;

            {% for card in deck.all_cards %}

                card_json = eval("{{ card.json|escapejs }}")[0];

                body = get_unit_body(card_json).attr("id", card_json.pk).addClass("card").addClass("unit_piece").addClass(card_json.pk).appendTo("#deck").bind('click', {'card': card_json}, on_deck_card_click ); 
                
            {% endfor %}
        }

        function on_library_card_click(event) {

            var num = $("#deck").children().length + 1;

            // don't allow deck to grow beyond max.
            // this is just for the UI -- the server also checks.
            if (num > {{ deck.max_size }}) {
                return;
            } 

            unique_i += 1;

            var card_id = event.currentTarget.id;
            var card = event.data.card;

            var body = get_unit_body(card).attr("id", card_id).addClass("card").addClass("unit_piece").addClass(card_id).appendTo("#deck").bind('click', {'card': card}, on_deck_card_click );
            init_tooltips("#deck");
            
            $("<input name='deck_card_" + unique_i + "' value='" + card_id + "' />").attr('id', card.pk).addClass("hidden").addClass(card_id).appendTo("#save_form"); 

            $("#num_remaining").text("" + ({{ deck.max_size }} - num));
            save_deck();
        } 

        function on_deck_card_click (event) {

            var card_id = event.currentTarget.id;
            $(event.currentTarget).remove();

            $("#save_form ." + card_id).first().remove();

            var num = $("#deck").children().length;
            $("#num_remaining").text("" + ({{ deck.max_size }} - num));
            save_deck();
        }

    </script>

    <form method="post" action="/deck/save/" id="save_form">

        {% csrf_token %}

        <!--
        Nickname: <input name="nickname" />
        -->

        <input type="hidden" name="deck_id" value="{{ deck.id }}" />

        {% for card in deck.all_cards %}

            <input name="deck_card_{{ forloop.counter }}" value="{{ card.id }}" id="{{ card.id }}" class="hidden {{ card.id }}" />

        {% endfor %} 

    </form>

    <script>
        $(function() {
            $("#save_form").submit( function( event) {
                //$.post($(this).attr("action"), $(this).serialize(), function(event) { alert("saved"); });
                return false;
           });
        });

        function save_deck() {
            $.post($("#save_form").attr("action"),
                    $("#save_form").serialize()
                );
       }
   </script>

{% endblock content %}
