{% extends 'base.html' %}

{% block meta %}

    <link rel="stylesheet" type="text/css" href="/media/css/edit_deck.css" type="text/css" /> 

    <link rel="stylesheet" type="text/css" href="/media/css/game.css" type="text/css" />

    <script type="text/javascript" src="/media/js/game.js"></script>

{% endblock meta %}

{% block header_title %}
Deck editor
{% endblock %}

{% block content %} 

    <div id="my_deck">

        <h2 class="ribbon">Your Army</h2> 
        <div class="triangle-ribbon"></div>

        <div class="spacer">&nbsp;</div>

        <div id="deck" class="card_list"> 
        </div>
    </div>

    <div class="library_group">
    <strong>All cards</strong>
    <ul id="library" class="card_list">
        {% for card in all_cards %}
        {% endfor %}
    </ul>
    </div>

    <h3><span id="num_remaining"></span> spots left in deck</h3>

    <script>
        var card_data = {};

        var unique_i = {{ deck.all_cards|length }};

        $(function() {

            banner_alert('info', 'Welcome to the deck editor', "During the intial beta, you're free to use any cards you please. Try out some variations against the ai. Remember to save the deck when you're done editing!");

            $.ajax({ url: "/deck/get_library_cards/",
                success: function(card_data_text) {
                    card_data = eval('(' + card_data_text + ')');
                    init_library();
                    init_deck();
                    $("#num_remaining").text("" + ({{ deck.max_size }} - $("#deck").children().length));
                }
            });

        });

        function init_deck() {

            var json;
            var body;

            {% for card in deck.all_cards %}

                for (var i = 0; i < card_data.length; i ++) {
                    var card_json = card_data[i];
                    if (card_json.pk == "{{card.id}}") {
                
                        body = get_unit_body(card_json).attr("id", card_json.pk).addClass("card").addClass("unit_piece").addClass(card_json.pk).appendTo("#deck").bind('click', {'card': card_json}, on_deck_card_click ); 
                    }
                }
                
                /**
                <li class="deck_card {{ card.pk }}" name="deck_card_{{forloop.counter}}" id="{{ card.pk }}">{{ card.name }}</li>
                */
            {% endfor %}
        }

        function init_library() {
            for (var i = 0; i < card_data.length; i ++) {

                var card_json = card_data[i];

                //$('<li class="library_card"></li>').text(card_json.fields.name).attr('id', "" + card_json.pk).appendTo("#library");

                get_unit_body(card_json).attr("id", card_json.pk).addClass("library_card").addClass("card").addClass("unit_piece").addClass(card_json.pk).appendTo("#library");
            }

            init_tooltips("#library"); 

            $(".library_card").click( function (event) {
                
                var num = $("#deck").children().length + 1;

                // don't allow deck to grow beyond max.
                // this is just for the UI -- the server also checks.
                if (num > {{ deck.max_size }}) {
                    return;
                } 

                unique_i += 1;

                var card_id = $(this).attr("id");
                var card;

                for (var i = 0; i < card_data.length; i ++) {
                    if (card_data[i].pk == card_id) {
                        card = card_data[i];
                        break;
                    } 
                }

                var body = get_unit_body(card).attr("id", card_id).addClass("card").addClass("unit_piece").addClass(card_id).appendTo("#deck").bind('click', {'card': card}, on_deck_card_click );
                init_tooltips("#deck");
                
                $("<input name='deck_card_" + unique_i + "' value='" + card_id + "' />").attr('id', card.pk).addClass("hidden").addClass(card_id).appendTo("#save_form"); 

                $("#num_remaining").text("" + ({{ deck.max_size }} - num));
                save_deck();
            });

            $(".deck_card").bind( 'click', on_deck_card_click );
        }
        function on_deck_card_click (event) {

            var card_id = event.currentTarget.id;
            $(event.currentTarget).remove();

            $("#save_form ." + card_id).first().remove();

            var num = $("#deck").children().length;
            $("#num_remaining").text("" + ({{ deck.max_size }} - num));
            save_deck();
        }

    </script>

    <form method="post" action="/deck/save/" id="save_form">

        {% csrf_token %}

        <!--
        Nickname: <input name="nickname" />
        -->

        <input type="hidden" name="deck_id" value="{{ deck.id }}" />

        {% for card in deck.all_cards %}

            <input name="deck_card_{{ forloop.counter }}" value="{{ card.id }}" id="{{ card.id }}" class="hidden {{ card.id }}" />

        {% endfor %} 

    </form>

    <script>
        $(function() {
            $("#save_form").submit( function( event) {
                //$.post($(this).attr("action"), $(this).serialize(), function(event) { alert("saved"); });
                return false;
           });
        });

        function save_deck() {
            $.post($("#save_form").attr("action"),
                    $("#save_form").serialize()
                );
       }
   </script>

{% endblock content %}
