{% extends 'base.html' %}

{% block meta %}

    <link rel="stylesheet" type="text/css" href="/media/css/game.css" type="text/css" />

    <script type="text/javascript" src="/media/js/diamond.js"></script>

{% endblock meta %}

{% block content %}

    <div style="width:800px;float:left;">
    <form>
        {% csrf_token %} 
        <input type="hidden" name="p" value="{{ puzzle.id }}" />

        <div style="margin:0 10px;float:left;">
            <h4>Mission goal</h4>
            <p>
            <input type="radio" name="goal" value="kill units" checked id="kill_units" />
            <label for="kill_units">Kill all enemy units</label>

            <br />

            <input type="radio" name="goal" value="kill player" id="kill_player" />
            <label for="kill_player">Deal damage to enemy player</label>
            </p>
        </div>

        <div style="margin:0 10px;float:left;">
            <h4>Life totals</h4>
            <p>
            <label for="ai_life" class="ai_life hidden">AI life:</label> 
            <input type="number" name="ai_life" class="ai_life hidden" id="ai_life" value="10" />
            </p>

            <p>
            <label for="player_life">Player starting life:</label>
            <input name="player_life" id="player_life" value="1" />
            </p>
        </div>

        <input type="" name="board_json" id="board_json" class="hidden" /> 
    </form>

    <a style="margin:0 10px;float:left;" href="javascript:void(0);" onclick="save_puzzle()" class="button">Save as draft</a>

    </div>

    <script>
        $(function() {

            $("#kill_player").change(function( e ) { $(".ai_life").show(); });
            $("#kill_units").change(function( e ) { $(".ai_life").hide(); });

            {% if puzzle.goal == 'kill player' %}
                $("#kill_player").change(); 
                $("#ai_life").val("{{ puzzle.ai_life }}");
            {% endif %}
        });
    </script>

    <div style="width:600px;height:600px;float:left;">
        {% include 'board.html' %}
    </div>

    <div style="width:200px;float:left;">
        {% include 'library_categories.html' %} 
    </div>




    <script>

        var boards = new Board();

        $(function() {
            boards.on_unit_placed = function(event) {
                $(".board .node.unit").click(on_node_click);
            };

            $.ajax({ url: "/edit_puzzle/setup/?p={{puzzle.id}}",
                    success: function(data) {
                        var turn_data = eval('(' + data + ')');
                        var units = turn_data.ai_starting_units;

                        for (i = 0; i < units.length; i ++) {

                            var card = turn_data.ai_cards[i];

                            boards.place_unit(card, units[i].node, "ai");

                        }
                    }
                });
        });

        function save_puzzle() {
            $("#board_json").val( JSON.stringify(boards.to_json()) );
            $.post("/edit_puzzle/",
                    $("form").serialize(),
                    function(puzzle_id) { 
                        if (puzzle_id == "error") {
                            //pass
                            alert("failed to save puzzle"); 
                        }
                        else {
                            window.location.href = "/deck/?p=" + puzzle_id;
                        }
                    }
                ); 
        }

        function on_node_click(event) {
            var node = $(event.currentTarget);
            var node_id = node.attr("name");

            var node_alignment = node.parent().hasClass("friendly") ? node_alignment = "friendly" : node_alignment = "ai"; 

            var unit = boards[node_alignment][node_id];

            unit.rubble_duration = 0;
            unit.suffer_damage(10);
            unit.show_next_damage();
        }

        function on_library_card_click(event) {
            var card_id = event.currentTarget.id;
            var card = event.data.card; 

            var targets = $(".board .node.empty");
            boards.begin_cast(card, targets);
        }

    </script> 

{% endblock content %}
