{% extends 'base.html' %}

{% block header_title %}
Fuck yeah bitches
{% endblock header_title %}

{% block style %}
#friendly_board {
    width:600px;
    height:400px;
    position:relative;
    background-color:#ccc;
}
.node {
    width:100px;
    height:100px;
    margin:10px;
    color:#fff;
    background-color:#000;
    position:absolute;
    border:1px solid white;
}
.node:hover {
    background-color:#124;
}
{% endblock style %}

{% block content %}
    
    <div id="friendly_board">
        {% for node in board %}
            <div class="node" style="left:{{node.board_x_friendly}}px;top:{{node.board_y_friendly}}px;">
            </div>
        {% endfor %}
    </div>

    <ul id="friendly_hand">
    </ul>

    <script>
        $(function() {
            draw();
        });
        function draw() {
            $.ajax({ url: "/playing/draw/",
                success: function(hand_data_text) {
                    hand_data = eval('(' + hand_data_text + ')');

                    alert('got hand: ' + hand_data_text);

                    $("#friendly_hand").empty();
                    for (var i = 0; i < hand_data.length; i ++) {
                        var card_json = hand_data[i];
                        add_card_to_hand(card_json);
                    }
                }
            }); 
        }
        function add_card_to_hand(card_json) {
            alert("card: " + card_json);
            $("<li class='card'>" + card_json["pk"] + "</li>").appendTo("#friendly_hand");       
        }
    </script>
{% endblock content %}
