{% extends 'base.html' %}

{% block meta %}
<link rel="stylesheet" type="text/css" href="/media/css/game.css" type="text/css" />

<script type="text/javascript" src="/media/js/game.js"></script>

{% endblock meta %}

{% block header_title %}
    {% if puzzle %}
        Diamond - Puzzle mode
    {% else %}
        Diamond - AI battle mode
    {% endif %}
{% endblock header_title %}

{% block style %}
{% endblock style %}

{% block content %}

    <div id="game_container" class="game_container">

        <div class="gameplay_container"> 

            <ul id="phases">
                <div class="clear">&nbsp;</div>

                <div class="fl" style="margin-top:10px;">
                    <h3>Your turn:</h3>
                        <li class="active draw" id="0">
                            Draw
                        </li>
                        <li class="play play_1" id="1">
                            Play
                        </li>
                        <li class="attack" id="2">
                            Attack
                        </li>
                        <li class="play play_2" id="3">
                            Play
                        </li>
                </div>

                <div class="fr" style="margin-top:10px;">
                    <h3>The opponent's turn:</h3>
                        <li class="active draw" id="4">
                            Draw
                        </li>
                        <li class="play play_1" id="5">
                            Play
                        </li>
                        <li class="attack" id="6">
                            Attack
                        </li>
                        <li class="play play_2" id="7">
                            Play
                        </li>
                </div>

            </ul>

            <div class="left_column">

                <div class="ribbon_gui">
                    <div id="ai_life" title="The enemy's life. Reduce it to 0 to win." class="top ai life">
                        <h1>10</h1> 
                    </div>


                    <div id="friendly_life" title="Your life. Protect it with strategic unit placement." class="bottom friendly life">
                        <h1>10</h1> 
                    </div>

                    <h2 class="ribbon">Life</h2>
                    <div class="triangle-ribbon"></div>
                </div>

                <div id="friendly_hand">
                    <h2 class="ribbon">Reinforcements</h2>
                    <div class="triangle-ribbon"></div>
                </div>

            </div>

            <div class="board_area">
                <div class="ai board">
                    {% block ai_nodes %}
                        {% for node in board %}
                        <div class="node empty" id="ai_node_{{node.pk}}" name="{{ node.pk }}" style="left:{{node.board_x_ai}}px;top:{{node.board_y_ai}}px;">
                            </div>
                        {% endfor %}
                    {% endblock ai_nodes %}
                </div>
                <div class="friendly board">
                    {% block friendly_nodes %}
                        {% for node in board %}
                        <div class="node empty" name="{{ node.pk }}" style="left:{{node.board_x_friendly}}px;top:{{node.board_y_friendly}}px;">
                            </div>
                        {% endfor %}
                    {% endblock friendly_nodes %}
                </div>
            </div>

            <div class="right_column">
                <div class="ribbon_gui">
                    <div id="ai_tech" title="The enemy's tech level allows tem to use more powerful cards." class="top ai tech" name="tech">
                        <h1>T1</h1>
                    </div> 

                    <div id="friendly_tech" title="Increase your tech by dragging a card here during your turn. Certain cards need higher tech." class="bottom tech" name="tech">
                        <h1>T1</h1>
                    </div>

                    <h2 class="ribbon">Tech</h2>
                    <div class="triangle-ribbon"></div>

                </div>
                <div id="game_controls">
                    <h3>Game controls</h3>
                    <!--
                    <a class="button green">Help!</a>
                    -->
                    <a id="pass_button" class="button yellow" href="javascript:void(0);" onclick="pass_turn()">Skip phase</a> 
                    <a id="surrender_button" class="button red" href="javascript:void(0);" onclick="surrender();">Surrender</a>
                </div>
            </div>

        </div>

        <div id="win_screen" class="modal hidden">
            {% include 'menus/win.html' %} 
        </div>

        <div id="lose_screen" class="modal hidden">
            {% include 'menus/lose.html' %} 
        </div> 
    </div>

    <form id="current_turn" method="post" action="/playing/end_turn/">
        {% csrf_token %}

        <input name="card1" />
        <input name="node1" />
        <input name="align1" />

        <input name="card2" />
        <input name="node2" />
        <input name="align2" />
    </form>

    <div class="cast_info hidden">
        <div class="tick"></div>
        <h1 class="msg">X cast Y!</h1>
    </div>

    <script>

        $(function() {
            {% for node in board %}
                board_node_locs["{{ node.pk }}"] = { "row": {{ node.row }}, "x": {{ node.x }} }; 
                if (! board_node_pks["{{ node.row }}"] ) {
                    board_node_pks["{{ node.row }}"] = {};
                }
                board_node_pks["{{ node.row }}"]["{{ node.x }}"] = "{{ node.pk }}";
            {% endfor %} 

            {% if puzzle %}
                set_player_life("friendly", {{ puzzle.player_life }} ); 
                $("#ai_life").attr("title", "You can't directly hurt the enemy in puzzle mode. Instead, kill their units to win."); 
                banner_alert("warning", "Tips for this puzzle", "{{ puzzle.intro }}");
            {% else %}
                banner_alert("warning", "Howdy", "AI battles are still half-baked and the computer plays *VERY* slowly (~10 sedonds for each of its turns). </p><p>Also, if you're getting whipped, don't forget to go <a href='/deck/'>edit your deck</a> and add some more powerful cards");
            {% endif %} 

            $(".gameplay_container").mousedown(function(e) {
                // if you click on an element which isn't targettable,
                // or it isn't a sub-component of something targettable,
                // then cancel the cast
                if (! $(e.target).hasClass("targettable")) { 
                    if (! $(e.target).parentsUntil("targettable")) { 
                        cancel_cast();
                    }
                }
            });

            draw_starting_hand();
        });

        function action_indicator(target, message) {

            var x = $(".cast_info");
            target.append($(".cast_info"));

            $(".cast_info .msg").text(message); 
            $(".cast_info").slideDown(function() {
                x.animate({ x:"+=0" }, { duration: 2000,
                    complete: function() {
                        x.slideUp();
                    }
                });
            }); 
        }

        function show_number(target, amount) {
            if (amount < 0) {
                show_message(target, amount, "red");
            }
            else  {
                show_message(target, "+" + amount, "green");
            }
        }

        function show_message(target, message, color) {
            var x = $("<h1 class='feedback'></h1>").appendTo(target);
            x.addClass(color);
            x.text(message); 

            x.animate({ top:"-=40" },
                { duration: 1000 });
            x.fadeOut(1000);
        }

    </script>
{% endblock content %}
